{% extends "mysite/header.html" %}
{%  load materializecss %}
{% load static %}
{% block content %}

<div class="card-panel">
    <h3>Change Password</h3>
    <div class="divider mb-1 mt-1"></div>
    <form action="{% url 'mysite:change_password' %}" method="POST">
            {%  csrf_token %}
              <div class="row">
              <div class="col s12">
                <div class="input-field">
                  <label for="oldpswd">Old Password</label>
                    {{ pw_form.old_password }}
                  <small class="errorTxt4"></small>
                </div>
              </div>
              <div class="col s12">
                <div class="input-field">
                  <label for="newpswd">New Password</label>
                    {{ pw_form.new_password1 }}
                  <small class="errorTxt5"></small>
                </div>
              </div>
              <div class="col s12">
                <div class="input-field">
                  <label for="repswd">Retype new Password</label>
                    {{ pw_form.new_password2 }}
                  <small class="errorTxt6"></small>
                </div>
              </div>
              <div class="col s12 display-flex justify-content-end form-action">
                <button type="submit" class="btn indigo waves-effect waves-light mr-1">Save changes</button>
                <button type="reset" class="btn btn-light-pink waves-effect waves-light">Cancel</button>
              </div>
            </div>
          </form>
</div>
{% endblock %}