{% extends "mysite/header.html" %}
{% load materializecss %}
{% load static %}
{% block content %}

<script>M.AutoInit();</script>
      <!-- Mapbox JS-->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css"/>
    <script type="module" src="{% static "js/util/geo_location.js" %}"></script>
    {{ mapbox_access_token|json_script:"mb_tkn"}}
    <div id="geolocation_searchbar" ></div>
{% endblock %}