.tabs-vertical .media-body {
    padding: 0 25px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.tabs-vertical .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 4px;
    background-color: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.tabs-vertical .tabs .tab {
    width: 100%;
    text-align: start
}

.tabs-vertical .tabs .tab a {
    -webkit-transition: none!important;
    transition: none!important;
    color: #6b6f82
}

.tabs-vertical .tabs .tab a:hover {
    color: #6b6f82!important
}

.tabs-vertical .tabs .tab a.active {
    color: #1e4ae9 !important;
    border-radius: 4px;
    background-color: #e4f4fc !important
}

.tabs-vertical .tabs .tab a.active:hover {
    color: #409cff !important
}

.tabs-vertical .tabs .tab a i {
    position: relative;
    top: 7px;
    margin-right: .2rem
}

.tabs-vertical .tabs .tab:hover {
    background-color: #eee
}

.tabs-vertical .indicator {
    display: none
}

.tabs-vertical .upfilewrapper {
    overflow: hidden;
    width: 0;
    height: 0
}

.avatar-status,.card-alert .alert-circle,.material-icons,.text-ellipsis,.text-nowrap {
    white-space: nowrap
}

.clear,.clear-both {
    clear: both
}

#map_geolocation {
    height: 60vh;
}

.blinking {
	animation: blinker 1.0s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0; }
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#geolocate_user{
    margin-left: 10px;
    margin-bottom: 5px;

}

#geocoder {
    z-index: 1;
    width: 100%;
    text-align: center;
    top: 20px;
}
.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.table-responsive {
   display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

