{% extends "mysite/header.html" %}
{%  load materializecss %}
{% block content %}
    <style>
    body{
        background-image: url(../../../static/images/web_images/background_flat.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .register{
        margin-top: 100px;
        width: auto;
    }
    .register .card{
        background: rgba(0,0,0,0.6);
         border-radius: 0 0 5px 5px;
    }
    .register .card-action{
        background: rgba(2, 48, 114, 0.6);
        border-radius: 5px 5px 0 0;
    }
    .register label{
        font-size: 24px;
        font-weight: bold;
        color: #ccc
    }
    .register input{
        font-size: 28px;
        color: #ccc
    }
    .register li, span{
        font-size: 16px;
        color: #ccc
    }
    .register button:hover{
        padding: 0px 40px;
    }
    .register .login_reg{
        font-size: 16px;
        font-weight: bold;
        color: #ccc
    }
    </style>
    <div class="row register">
        <div class="col s12 l4 offset-l4" style="width: auto">
            <div class="card">
                <div class="card-action white-text">
                    <h3>Registration</h3>
                </div>

                <div class="card-content">
                     <form method = "POST">
                        {%  csrf_token %}
                        {{ form.as_p }}
                         <div class="form-field center-align">
                            <button class="btn" style="background-color:
                            #372be2; color:white" type="submit">REGISTER</button>
                         </div>
                    </form>
                    <div class="login_reg">
                        If you already have an account,
                        <a href="/login"><strong>login</strong></a> instead
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

