{% load static %}
<div class="navbar nav-extended">
    <nav class="navbar white">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo left">
            <img class="responsive-img" id="logo"
             srcset=
                "{% static "/images/web_images/vw_logo.png" %} 800w,
                 {% static "/images/web_images/vw_logo.png" %} 480w,
                 {% static "/images/web_images/vw_logo.png" %} 320w"
             sizes=
                "(max-width: 320px) 280px,
                 (max-width: 480px) 440px,
                 800px"
             src="{% static "/images/web_images/pcwa_full.png" %}" alt="PCWA">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          {% if user.is_authenticated %}
              <!-- Dropdown Trigger -->
            <li><a href="/profile">{{ user.username }}</a></li>
            <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
    </div>
    </nav>
</div>