<ul id="slide-out" class="sidenav map-layers">
        <li><a href="" class="logo-container">
            Fire Information<i class="material-icons left">whatshot</i></a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion" style="padding: 0px">
            <li class="bold waves-effect {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"><a class="collapsible-header" tabindex="0">Map Layers<i class="material-icons chevron">chevron_left</i></a>
              {% include "goesFire/includes/map_toggles.html"%}
            </li>
            <li class="bold waves-effect"><a class="collapsible-header" tabindex="0">Fire Points<i class="material-icons chevron">chevron_left</i></a>
              <div class="collapsible-body">
                <ul>
                  <li class="maplayer-toggle">
                    <label  for="PCWA_Markers">
                        <input name="PCWA" class="filled-in makers" id="PCWA_Markers" type="checkbox"/>
                        <span>PCWA Gauges
                            <i class="material-icons">cloud_queue</i>
                        </span>
                    </label>
                    </li>
                    <li class="maplayer-toggle">
                    <label  for="CALfire_Markers">
                        <input name="CALfire_Markers" class="filled-in makers" id="CALfire_Markers" type="checkbox"/>
                        <span>Fires: Cal Fire
                            <i class="material-icons">cloud_queue</i>
                        </span>
                    </label>
                    </li>
                    <li class="maplayer-toggle">
                    <label  for="GOESfire_Markers">
                        <input name="GOES" class="filled-in makers" id="GOESfire_Markers" type="checkbox"/>
                        <span>Fires: GOES-17
                            <i class="material-icons">cloud_queue</i>
                        </span>
                    </label>
                    </li>
                </ul>
              </div>
            </li>
            <li class="bold waves-effect {% if request.resolver_match.url_name == 'profile' or 'change_password' or 'change_location'%}active{% endif %}"><a class="collapsible-header" tabindex="0">Account<i class="material-icons chevron">chevron_left</i></a>
              <div class="collapsible-body">
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="/profile"> General <i class="material-icons">person</i></a></li>
                        <li><a href="/change_pw">Change Password <i class="material-icons">fingerprint</i></a></li>
                        <li><a href="/change_location">Location Alerts <i class="material-icons">edit_location</i></a></li>
                        <li><a href="/logout">Logout {{ user.username }} <i class="material-icons">directions_run</i></a></li>
                    {% else %}
                        <li><a href="/login">Login<i class="material-icons">person</i></a></li>
                        <li><a href="/register">Register<i class="material-icons">create</i></a></li>
                    {% endif %}
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>

