<ul id="sidenav-left" class="sidenav sidenav-map" style="transform: translateX(0px)">
    <li class="bold waves-effect sidebar-maptoggle" id="map_toggles">
        <a href="#" data-target="slide-out" class="sidenav-trigger layer-trigger">
            <i class="material-icons sidenav-map">local_fire_department</i>
        </a>
    </li>
    <li class="bold waves-effect sidebar-maptoggle"><i class="material-icons sidenav-map">settings</i></a>
    </li>
    <li class="bold waves-effect sidebar-maptoggle"><i class="material-icons sidenav-map">brightness_low</i></a>
    </li>
    <li class="bold waves-effect sidebar-maptoggle"><i class="material-icons sidenav-map">ac_unit</i></a>
    </li>
</ul>
{% include "mysite/includes/sidebar_marker_toggles.html"%}