<ul id="sidenav-left" class="sidenav sidenav-map" style="transform: translateX(0px)">
    <li><a href="" class="logo-container"></a></li>

        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold waves-effect sidebar-maptoggle" id="map_toggles">
                <a href="#" data-target="slide-out" class="sidenav-trigger">
                    <i class="material-icons chevron">settings</i>
                </a>
            </li>
            <li class="bold waves-effect sidebar-maptoggle"><i class="material-icons chevron">settings</i></a>
            </li>
            <li class="bold waves-effect sidebar-maptoggle"><i class="material-icons chevron">settings</i></a>
            </li>
            <li class="bold waves-effect sidebar-maptoggle"><i class="material-icons chevron">chevron_left</i></a>
            </li>
          </ul>
        </li>
      </ul>
{% include "mysite/includes/sidebar_marker_toggles.html"%}