{% if user.is_authenticated %}
    {% load custom_extras %}
<div class="collapsible-body">
    <ul>
        {% for item in zip_lists %}
          <li>
             <label  for="{{ item.0 }}"}>
            <input name="{{ item.0 }}" data-do="{{ item.0 }}" class="filled-in" id="{{ item.0 }}" checked="" type="checkbox" />
            <span>{{ item.1 }}
                <i class="material-icons">track_changes</i>
            </span>
        </label>
    </li>

        {% endfor %}
    <li>
    <label  for="SWE">
        <input name="SWE" data-do="swe" class="filled-in map-toggle" id="SWE" checked="" type="checkbox" />
        <span>SWE
            <i class="material-icons">cloud_queue</i>
        </span>
    </label>
    </li>
    <li>
        <label  for="MaxT">
            <input name="MaxT" data-do="ndfdMaxT" class="filled-in map-toggle" id="MaxT" checked="" type="checkbox" />
            <span>Max Temp
                <i class="material-icons">track_changes</i>
            </span>
        </label>
    </li>
    <li>
        <label  for="vis_sat">
            <input name="vis_sat" data-do="vis_sat" class="filled-in map-toggle" id="vis_sat" checked="" type="checkbox" />
            <span>Satellite
                <i class="material-icons">track_changes</i>
            </span>
        </label>
        <div class="range-field">
            <input type="range" id="opacity_slider" min="0" max="100"/>
        </div>
    </li>
    <li>
    <label  for="ovc-radar">
        <input name="radar" data-do="radar" class="filled-in map-toggle" id="ovc-radar" checked="" type="checkbox" />
        <span>Radar
            <i class="material-icons">cloud_queue</i>
        </span>
    </label>
        <label  for="animator">
        <input name="animator" data-do="hrrr_refl" class="filled-in animator" id="animator" checked="" type="checkbox" />
        <span>Animate
            <i class="material-icons">cloud_queue</i>
        </span>
    </label>
    </li>
    <li>
    <label  for="CPC_14DayTemp">
        <input name="CPC_14DayTemp" data-do="ndfd_14d_temp" class="filled-in map-toggle" id="CPC_14DayTemp" checked="" type="checkbox" />
        <span>14-Day Temp Forecast
            <i class="material-icons">cloud_queue</i>
        </span>
    </label>
    </li>
    <li>
    <label  for="CPC_14DayPrecip">
        <input name="CPC_14DayPrecip" data-do="ndfd_14d_precip" class="filled-in map-toggle" id="CPC_14DayPrecip" checked="" type="checkbox" />
        <span>14-Day Temp Precip
            <i class="material-icons">cloud_queue</i>
        </span>
    </label>
    </li>
    <li>
    <label  for="hrrr_refl">
        <input name="hrrr" data-do="hrrr_refl" class="filled-in map-toggle" id="hrrr_refl" checked="" type="checkbox" />
        <span>HRRR Reflectivity
            <i class="material-icons">cloud_queue</i>
        </span>
    </label>
    </li>
    <li>
    <label  for="PCWA_Markers">
        <input name="PCWA" class="filled-in makers" id="PCWA_Markers" type="checkbox"/>
        <span>PCWA Gauges
            <i class="material-icons">cloud_queue</i>
        </span>
    </label>
    </li>
    <li>
    <label  for="CALfire_Markers">
        <input name="CALfire_Markers" class="filled-in makers" id="CALfire_Markers" type="checkbox"/>
        <span>Fires: Cal Fire
            <i class="material-icons">cloud_queue</i>
        </span>
    </label>
    </li>
    <li>
    <label  for="GOESfire_Markers">
        <input name="GOES" class="filled-in makers" id="GOESfire_Markers" type="checkbox"/>
        <span>Fires: GOES-17
            <i class="material-icons">cloud_queue</i>
        </span>
    </label>
    </li>
    </ul>
</div>
{% endif %}
