{% if user.is_authenticated %}
    {% load custom_extras %}
<div class="collapsible-body">
    <ul id="Layer_Selection">
        {% for item in zip_lists %}
         <li>
         <label  for="{{ item.0 }}"}>
            <input name="{{ item.0 }}" data-do="{{ item.0 }}" class="filled-in" id="{{ item.0 }}" checked="" type="checkbox" />
            <span>{{ item.1 }}
                <i class="material-icons">track_changes</i>
            </span>
        </label>
        </li>
        {% endfor %}
            <div class="optionsBlock opacity-block">
                <div class="opacity-slider">OPACITY</div>
                    <div class="range-field">
                        <input type="range" id="opacity_slider" min="0" max="100"/>
                    </div>
            </div>
        <div class="optionsBlock">
            Layer Selection
        </div>
    {# <!-- Appending to this section via TileLoader / layer_constructor.js --> #}
    </ul>
</div>
{% endif %}

