{% extends "mysite/header.html" %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <!-- Compiled and minified JavaScript for FusionCharts-->
    <script type="text/javascript" src="{% static "js/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "js/themes/fusioncharts.theme.fusion.js" %}"></script>
    <!-- Mapbox JS-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
 <div class="row no-margin">
    <div>
      <ul class="tabs tabs-fixed-width" id="dashboard_tabs">
        <li class="tab col s3">
            {% if new_fire_count > 0 %}
                <a href="#current_fires">Current Fires<small class="notification-badge" id="new_fire_badge">{{ new_fire_count }}</small></a></li>
          {% else %}
                <a href="#current_fires">Current Fires<small class="notification-badge" id="new_fire_badge" style="display: none">{{ new_fire_count }}</small></a></li>
          {% endif %}
        <li class="tab col s3"><a class="active" href="#mapbox_map">Map</a></li>
        <li class="tab col s3"><a href="#forecast">Satellite</a></li>
      </ul>
    </div>
    <div id="mapbox_map">
        {% include "mysite/includes/sidebar_fixed_map.html"%}
        <div id="map" class="map map-big">
            <div classname="timeline" class="timeline">
                <button title="Play/Pause Past Weather" value="paused" data-animating="nothing" id="animate">
                    <i class="material-icons pause_play_button">play_circle_outline</i>
                    <div class="label" id="timeline_start_time">Animate</div>
                </button>
                <div class="scrubberControl">
                    <div id="timelineClock" classname="timestamp" class="timestamp">Date</div>
                    <div>
                        <div classname="range-field" class="range-field">
                            <input type="range" min="0" max="23" dir="ltr" id="timelineScrubber" aria-label="rangeslider" classname="rangeSlider" value="23" class="rangeSlider" style="background-size: 98% 100%;">
                        </div>
                    </div>
                </div>
                <button title="Play/Pause Future Weather" id="future" style="display: none">
                    <i class="material-icons">play_circle_outline</i>
                    <div class="label" id="timeline_end_time">Future</div>
                </button>
                <div class="speedControl">
                    <button title="Change Animation Speed">
                        <i class="material-icons">fast_forward</i>
                        <div class="label">2x</div>
                    </button>
                </div>
            </div>
            </div>
            <script type="text/javascript">
                fire_data = {{ fire_data|safe }}
                    goes_fire_pixels = {{ goes_fire_pixels|safe }}
                goes_image = {{ goes_image|safe }}
            </script>
            {{ mapbox_access_token|json_script:"create-map"}}
            <script type="module" src="{% static "js/main.js" %}"></script>
        </div>
    <div id="current_fires" class="col s12">
        <div class="card-pannel z-depth-2">
            <div id="fire_info_table" class="fire_table">
            <table class="highlight" id="fire_table">
                <thead>
                <tr>
                  <th id="table_viewed">Recently Alerted</th>
                  <th id="table_fire_id">Fire ID</th>
                  <th id="table_source">Source</th>
                  <th id="table_time">Time</th>
                  <th id="table_acres">Acres</th>
                  <th id="table_spread">Spread Rate</th>
                  <th id="table_dist">Distance From You (miles)</th>
                </tr>
            </thead>
            <tbody>
            {% for pixel in goes_template_data.features %}
                  <tr class="fire_in_table" data-fire_id="{{ pixel.properties.fire_id }}"
                  data-fire_lat="{{ pixel.properties.lat }}" data-fire_lng="{{ pixel.properties.lng }}">
                  {% if pixel.properties.new_to_user == 1  %}
                      <td style="color: #f4f4f400">{{ pixel.properties.new_to_user }}
                        <span class="dot"></span>
                      </td>
                  {% else %}
                      <td style="color: #f4f4f400">{{ pixel.properties.new_to_user }}
                        <span class="dot" style="display: none;"></span>
                      </td>
                  {% endif %}
                    <td>{{ pixel.properties.fire_id }}</td>
                    <td>{{ pixel.properties.source }}</td>
                    <td>{{ pixel.properties.pretty_time }}</td>
                    <td>{{ pixel.properties.fire_size }}</td>
                    {% if pixel.properties.spread_rate == 'Moderate' %}
                        <td style="color: red">{{ pixel.properties.spread_rate }}</td>
                    {% endif %}
                  <td>{{ pixel.properties.distance_to_user }}</td>
                  </tr>
            {% endfor %}
        </tbody>
      </table>
            </div>
        </div>
    </div>
 </div>

{% endblock %}
